:root {
    --header-width: 1100px;
    --header-height: 53px;
}

body > div {
    background-color: white;
    width: var(--header-width);
    margin-left: calc(50% - var(--header-width)/2);
    margin-top: calc(50% - 96%/2);
    margin-right: calc(50% - var(--header-width)/2);
    border-radius: 27px 27px 27px 27px;
    height: 750px;
}

body {
    margin: 0;
    background-color: #fcd7cd;
}

main {
    height: 500px;
}
section {
    background-image: linear-gradient(120deg, rgb(216, 237, 255), rgb(231, 222, 211));
    border-radius: 25px;
    width: 94%;
    min-width: 1000px;
    height: 300px;
    margin-left: 3%;
    margin-top: 2.5%
}

header {
    height: var(--header-height);
}

@font-face {
    font-family: "Twentieth Century";
    src: url("./font/TwCenMTStd-Bold.otf") format("opentype");
}

/* right section */
.right-header-section {
    float: right;
}

/* menu links */
a + a {
    margin-left: 30px;
}
/* menu links */
nav > a {
    font-size: 24px;
    font-family: Arial;
    text-decoration: none;
    color: black;
}

/* User image link */
div > a {
    margin-left: 30px;
    float: right;
}

/* allest. logo */ 
header > a {
    float: left;
    margin-top: 9px;
    font-family: 'Twentieth Century';  
    font-weight: bold; 
    font-size: 42px;
    text-decoration: none;
    margin-top: 16px;
    margin-left: 10px;
}

/* User image */
a > img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

nav {
    margin-top: 14px;
    float: left;
}

.main-title {
    margin-left: 25px;
    font-family: 'Twentieth Century'; 
    font-size: 44px;
    width: 350px;
}

.buy-buttons{
    margin-left: 25px;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    background-color: white;
}

button {
    margin-top: 3px;
    height: 44px;
    width: 145px;
    border-radius: 10px;
    border-style: hidden;
    color: mediumslateblue;
    background-color: white;
}

button.active {
    margin-top: 3px;
    height: 44px;
    width: 145px;
    border-radius: 10px;
    border-style: hidden;
    color: white;
    background-color: #7b68ee;
}

button:hover {
    background-color: rgb(123, 104, 238);
    color: white;
}

.button-src {
    float:right;
    width: 44px;
    margin-right: 2px;
    background-color: rgb(255, 147, 118);
}

.button-see-all {
    float:left;
    margin-top: 8px;
    margin-left: 10px;
    width: 150px;
    margin-right: 2px;
    background-color: rgb(255, 147, 118);
    display: block;
    color: white;
}
.search-city {
    float:left;
    margin-top: 2px;
    margin-left: 2px;
    background-color: white;
    height: 44px;
    width: 245px;
    border-radius: 15px;
    border: 0px solid;
    color: mediumslateblue;
    text-indent: 20px;
}

.search-field {
    margin-top: 7px;
    background-color: white;
    height: 50px;
    width: 300px;
    margin-left: 25px;
    border-radius: 15px;
    border: 0px solid;
    color: mediumslateblue;
    text-indent: 20px;
}

input:focus {
    outline: none;
}

section > img {
    float: right;
    width: 600px;
    height: 300px;
    border-radius: 25px;
}

/* left section */
.left-section {
    float: left;
    width: 400px;
}

/* right section */
.right-section {
    float: right;
}

.text {
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Twentieth Century';
    font-size: 26px;
}

.text_lower {
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 20px;
    font-family: 'Twentieth Century';
    font-size: 16px;
    color: gray;
}

.left-footer {
    display: inline-block;
    margin-left: 25px;
}

.right-footer {
    display: inline-block;
}

.mid-footer {
    height: 230px;
    width: 220px;
    display: inline-block;
    float: right;
}

.listing {
    display: inline-block;
    width: 220px;
    height: 220px;
    background-color: gray;
    border-radius: 25px;
    margin-left: 11px;
    background-size: cover;
}

.listing3 {
    display: inline-block;
    width: 220px;
    height: 165px;
    background-color: gray;
    border-radius: 25px;
    margin-left: 11px;
    background-size: cover;
    margin-top: 3px;
    margin-right: 11px;
    background-color: yellow;
}

.listing2 {
    display: block;
    width: 300px;
    height: 110px;
    background-color: green;
    border-radius: 25px;
    margin-left: 45px;
    margin-bottom: 11px;
}

.corner {
    float:right;
    padding: 8px;
    background-color: white;
    border-radius: 0 15px 0 15px ;
}

.address {
    margin-top: 130px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px;
    background-color: rgba(37, 198, 226, 0.247);
    border-radius: 15px 15px 15px 15px;
    color: rgb(123, 104, 238);
    display: block;
}

.address2 {
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px;
    background-color: rgba(37, 198, 226, 0.247);
    border-radius: 15px 15px 15px 15px;
    color: rgb(123, 104, 238);
    display: block;
}

.address-text {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
